
.box1{
background-color: red;
height: 200px;
width:200px;
display:inline-block;
}


.box2{

    background-color: seagreen;
    height: 200px;
width: 500px;
display:inline-block;


}

.box3{
    background-color: blueviolet;
    height: 200px;
width:200px;
display:inline-block;
}

.hello{
background-color: darkslategrey;
display:inline-block
}
.llo{
    display:inline-block;
background-color: firebrick;
}
.hi{
    display:inline;
background-color: gold;

}

.ff{
    display:inline-block;
    text-decoration: underline;
    width:500px;
}